html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

#app {
    height: 100%;
}

.ps-window-panels {
    height: 100%;
}

.el-carousel__container {
    height: 100%;
}

.el-tabs__item {
    height: 30px;
    line-height: 30px;
}
.el-tabs__nav-next, .el-tabs__nav-prev {
    line-height: 30px;
}

.el-tabs--border-card>.el-tabs__content {
    padding: 0;
}

.button-area {
    flex-basis: 100px;
    padding: 5px 10px;
}

.button-area button {
    width: 100%;
    margin: 5px 0;
}