<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创建新作品</title>
    <link rel="stylesheet" type="text/css" href="../cdn/element-ui/element.css">
</head>
<style>
    .ps-dialog__header {
        padding: 20px 20px 10px;
        display: flex;
        align-items: baseline;
        -webkit-app-region: drag;
    }

    .ps-dialog__title {
        line-height: 24px;
        font-size: 18px;
        color: #303133;
        flex: 1;
    }

    .ps-dialog__titlebtn {
        border: none;
        padding: 0;
        -webkit-app-region: no-drag;
    }

    .ps-dialog__body {
        padding: 0 20px;
        color: #606266;
        font-size: 14px;
        word-break: break-all;
        height: 260px;
    }

    .ps-dialog__footer {
        padding: 10px 20px 20px;
        text-align: right;
        box-sizing: border-box;
    }
</style>

<body>
    <div id="app">
        <div class="ps-dialog__header">
            <span class="ps-dialog__title">创建新画布</span>
            <el-button class="ps-dialog__titlebtn" plain icon="el-icon-close" @click="close"></el-button>
        </div>
        <div class="ps-dialog__body">
            <el-tabs v-model="createType">
                <el-tab-pane label="画布" name="board">
                    <el-form ref="canvasConfigForm" :model="canvas" label-width="50px" hide-required-asterisk>
                        <el-form-item label="大小">
                            <el-col :span="9">
                                <el-input v-model="canvas.width" :onkeyup="this.numberFilter()"></el-input>
                            </el-col>
                            <el-col style="text-align: center;" :span="2">px</el-col>
                            <el-col style="text-align: center;" :span="2">-</el-col>
                            <el-col :span="9">
                                <el-input v-model="canvas.height" :onkeyup="this.numberFilter()"></el-input>
                            </el-col>
                            <el-col style="text-align: center;" :span="2">px</el-col>
                        </el-form-item>
                        <el-form-item>
                            <el-switch active-text="锁定纵横比" v-model="canvas.rateLocked"></el-switch>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="图片" name="image">图片</el-tab-pane>
                <el-tab-pane label="模板" name="template">模板</el-tab-pane>
                <el-tab-pane label="实时上传" name="upload">实时上传</el-tab-pane>
            </el-tabs>
        </div>
        <div class="ps-dialog__footer">
            <div slot="footer" class="dialog-footer">
                <el-button @click="close">取 消</el-button>
                <el-button type="primary" @click="createNew">创 建</el-button>
            </div>
        </div>
    </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="../cdn/vue.js"></script>
<!-- import JavaScript -->
<script src="../cdn/element-ui/element.js"></script>

<script>
    const { remote } = require('electron');
    const ipcRenderer = require('electron').ipcRenderer

    const createTypes = {
        board: 'board',
        image: 'image',
        template: 'template',
        upload: 'upload',
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                createType: createTypes.board,
                canvas: {
                    name: "",
                    width: "",
                    height: "",
                    rateLocked: false
                }
            }
        },
        methods: {
            //关闭
            close() {
                remote.getCurrentWindow().close();
            },
            numberFilter(e) {
                this.canvas.width = this.canvas.width.replace(/[^\d.]/g, '');
                this.canvas.height = this.canvas.height.replace(/[^\d.]/g, '')
            },
            createboard() {
                // this.$refs.canvasConfigForm.validate((success, failed) => {
                //     console.log(success);
                // });
                console.log(this.createType)
                return 1
            },
            createNew() {
                let result = undefined;

                switch (this.createType) {
                    case createTypes.board:
                        result = this.createboard()
                        break;
                    case createTypes.image:
                        // code block
                        break;
                    case createTypes.template:
                        // code block
                        break;
                    case createTypes.upload:
                        // code block
                        break;
                }

                if (result)
                {
                    ipcRenderer.send('create-canvas', result);
                    self.close();
                }
                else console.log(result)
            }
        },
        mounted() {
        }
    })
</script>

</html>