<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创建新作品</title>
    <link rel="stylesheet" type="text/css" href="../cdn/element-ui/element.css">
    <link rel="stylesheet" type="text/css" href="../subwindow/css/subwindow.css">
</head>

<body>
    <div id="app">
        <div class="ps-dialog__header">
            <span class="ps-dialog__title">创建新画布</span>
            <el-button class="ps-dialog__titlebtn" plain icon="el-icon-close" @click="close"></el-button>
        </div>
        <div class="ps-dialog__body">
            <el-tabs v-model="createType">
                <el-tab-pane label="画板" name="board">
                    <el-form :rules="rules" :model="canvas" ref="canvasConfig" label-position="left" label-width="80px"
                        hide-required-asterisk>
                        <el-divider content-position="center">尺寸</el-divider>
                        <el-form-item label="水平宽度" prop="width">
                            <el-input placeholder="请输入画布宽度" v-model="canvas.width" :onkeyup="this.numberFilter()">
                                <el-select v-model="canvas.unit" placeholder="单位" slot="append">
                                    <el-option v-for="unit in units" :key="unit" :label="unit" :value="unit">
                                    </el-option>
                                </el-select>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="竖直高度" prop="height">
                            <el-input placeholder="请输入画布高度" v-model="canvas.height" :onkeyup="this.numberFilter()">
                                <el-select v-model="canvas.unit" placeholder="单位" slot="append">
                                    <el-option v-for="unit in units" :key="unit" :label="unit" :value="unit">
                                    </el-option>
                                </el-select>
                            </el-input>
                        </el-form-item>
                        <el-divider content-position="center">底色</el-divider>
                        <el-form-item label="颜色选择">
                            <el-col :span="4">
                                <el-color-picker size="medium" v-model="canvas.undercolor" show-alpha
                                    :predefine="predefineColors">
                                </el-color-picker>
                            </el-col>
                            <el-col :span="20"> {{canvas.undercolor}} </el-col>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="图片" name="image">
                    <div id="dropZone">
                        <div v-if="!image.path" style="text-align: center;">将图片拖拽到此处（jpg/png）</div>
                        <img v-else :src="image.path" class="ps-center-img">
                    </div>
                    <div style="margin: 10px 0;">
                        <el-button @click="openBrowser" icon="el-icon-folder-opened" plain>浏览本地文件
                        </el-button>
                        <el-button @click="openWeb" style="float: right;" icon="el-icon-link" plain>
                            从下方链接中导入</el-button>
                    </div>
                    <div>
                        <el-input v-model="imageUrl" placeholder="要导入的图片链接"></el-input>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="实时上传" name="upload">实时上传</el-tab-pane>
                <el-tab-pane label="模板" name="template">模板</el-tab-pane>
            </el-tabs>
        </div>
        <div class="ps-dialog__footer">
            <div slot="footer" class="dialog-footer">
                <el-button @click="close">取 消</el-button>
                <el-button type="primary" @click="createNew">创 建</el-button>
            </div>
        </div>
    </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="../cdn/vue.js"></script>
<!-- import JavaScript -->
<script src="../cdn/element-ui/element.js"></script>
<script src="../cdn/axios.min.js"></script>

<script>
    const { remote } = require('electron');
    const ipcRenderer = require('electron').ipcRenderer

    const createTypes = {
        board: 'board',
        image: 'image',
        template: 'template',
        upload: 'upload',
    }

    function formatCorrect(format) {
        return (format == "image/png" || format == "image/jpeg")
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                createType: createTypes.board,
                canvas: {
                    width: '400',
                    height: '400',
                    unit: 'px',
                    undercolor: '#ffffff',
                },
                rules: {
                    width: [
                        { required: true, message: '你不输入宽度我很难办呀☝', trigger: 'change' }
                    ],
                    height: [
                        { required: true, message: '你不输入高度搞我心态❓', trigger: 'change' }
                    ]
                },
                units: ['px'],
                predefineColors: [
                    '#ffffff',
                    '#ff4500',
                    '#ff8c00',
                    '#ffd700',
                    '#90ee90',
                    '#00ced1',
                    '#1e90ff',
                    '#c71585',
                    '#000000',
                    'rgba(255, 255, 255, 0)',
                ],
                image: {
                    path: null
                },
                imageUrl: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3109674115,2519629056&fm=26&gp=0.jpg'
            }
        },
        methods: {
            //关闭
            close() {
                remote.getCurrentWindow().close();
            },
            openBrowser() {
                ipcRenderer.send('open-imagefile');
            },
            openWeb() {
                let self = this;
                axios.get(this.imageUrl)
                    .then(function (response) {
                        let ctype = response.headers['content-type'];
                        if (formatCorrect(ctype)) {
                            self.image.path = self.imageUrl;
                        }
                        else {
                            self.warn('仅支持 jpeg/png 的图片链接')
                        }
                    });
            },
            loadImage(image) {
                this.image.path = image;
            },
            enableDragIn() {
                var dropZone = document.getElementById('dropZone');
                var originBorder = dropZone.style.border;
                var highlightBorder = "#1989fa 2px dashed";
                var self = this

                dropZone.addEventListener('dragover', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
                    var originBorder = dropZone.style.border;
                    dropZone.style.border = highlightBorder;
                }, false);

                dropZone.addEventListener("dragleave", function (evt) {
                    evt.preventDefault();
                    evt.stopPropagation();
                    dropZone.style.border = originBorder;
                }, false);

                dropZone.addEventListener('drop', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                    dropZone.style.border = originBorder;
                    var files = evt.dataTransfer.files;

                    if (files.length) {
                        if (formatCorrect(files[0].type))
                            self.loadImage(files[0].path);
                        else
                            self.warn('只支持 jpeg/png 格式')
                    }
                }, false);
            },
            numberFilter(e) {
                this.canvas.width = this.canvas.width.replace(/[^\d.]/g, '');
                this.canvas.height = this.canvas.height.replace(/[^\d.]/g, '')
            },
            createBoard() {
                let valid = false;
                this.$refs['canvasConfig'].validate((v) => {
                    valid = v;
                });

                if (valid) {
                    return this.canvas;
                } else {
                    return false;
                }
            },
            createImage() {
                if (this.image.path) {
                    return this.image;
                }
                return false
            },
            createNew() {
                let result = undefined;

                switch (this.createType) {
                    case createTypes.board:
                        result = this.createBoard();
                        break;
                    case createTypes.image:
                        result = this.createImage();
                        break;
                    case createTypes.upload:
                        // code block
                        break;
                    case createTypes.template:
                        // code block
                        break;
                }

                if (result) {
                    result.type = this.createType;
                    ipcRenderer.send('create-canvas', result);
                    this.close();
                }
                else
                    this.warn('你想创建啥？');
            },
            warn(text) {
                this.$message({
                    message: text,
                    type: 'warning',
                    center: true
                });
            }
        },
        mounted() {
            this.enableDragIn();
            let self = this;
            ipcRenderer.on('open-image', (event, image) => {
                self.loadImage(image);
            })
        }
    })
</script>

</html>