<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创建新作品</title>
    <link rel="stylesheet" type="text/css" href="../cdn/element-ui/element.css">
    <link rel="stylesheet" type="text/css" href="../subwindow/create_canvas.css">
</head>

<body>
    <div id="app" style="overflow: hidden;">
        <div class="ps-dialog__header">
            <span class="ps-dialog__title">创建新画布</span>
            <el-button class="ps-dialog__titlebtn" plain icon="el-icon-close" @click="close"></el-button>
        </div>
        <div class="ps-dialog__body">
            <el-tabs v-model="createType">
                <el-tab-pane label="画板" name="board">
                    <el-form :rules="rules" :model="canvas" ref="canvasConfig" label-position="left" label-width="80px"
                        hide-required-asterisk>
                        <el-divider content-position="center">尺寸</el-divider>
                        <el-form-item label="水平宽度" prop="width">
                            <el-input placeholder="请输入画布宽度" v-model="canvas.width" :onkeyup="this.numberFilter()">
                                <el-select v-model="canvas.unit" placeholder="单位" slot="append">
                                    <el-option v-for="unit in units" :key="unit" :label="unit" :value="unit">
                                    </el-option>
                                </el-select>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="竖直高度" prop="height">
                            <el-input placeholder="请输入画布高度" v-model="canvas.height" :onkeyup="this.numberFilter()">
                                <el-select v-model="canvas.unit" placeholder="单位" slot="append">
                                    <el-option v-for="unit in units" :key="unit" :label="unit" :value="unit">
                                    </el-option>
                                </el-select>
                            </el-input>
                        </el-form-item>
                        <el-divider content-position="center">底色</el-divider>
                        <el-form-item label="透明底色">
                            <el-switch v-model="isTransparent"> </el-switch>
                        </el-form-item>
                        <el-form-item label="颜色选择">
                            <el-col :span="4">
                                <el-color-picker size="medium" v-model="color" :predefine="predefineColors">
                                </el-color-picker>
                            </el-col>
                            <el-col :span="20"> {{canvas.undercolor}} </el-col>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="图片" name="image">
                    <div id="dropZone">
                        <div v-show="!image.path" style="text-align: center;">将图片拖拽到此处（jpg/png）</div>
                        <img :src="image.path" class="ps-center-img" ref="imageDom">
                    </div>
                    <div style="margin: 10px 0;">
                        <el-button @click="openBrowser" icon="el-icon-folder-opened" plain>浏览本地文件
                        </el-button>
                        <el-button @click="openWeb" style="float: right;" icon="el-icon-link" plain>
                            从下方链接中导入</el-button>
                    </div>
                    <div>
                        <el-input v-model="imageUrl" placeholder="要导入的图片链接"></el-input>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="实时上传" name="upload">
                    <div style="text-align: center;">
                        <div id="qrcode" style="height:150px; margin: 20px auto;" :style="{width:qrcodeWidth + 'px'}">
                        </div>
                        <el-button @click="getQRCode" icon="el-icon-folder-opened" plain>点击获取二维码</el-button>
                    </div>
                </el-tab-pane>
                <el-tab-pane disabled label="模板" name="template">模板</el-tab-pane>
            </el-tabs>
        </div>
        <div class="ps-dialog__footer">
            <div slot="footer" class="dialog-footer">
                <el-button @click="close">取 消</el-button>
                <el-button type="primary" @click="createNew">创 建</el-button>
            </div>
        </div>
        <div class="blocker" v-if="visible"></div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="../cdn/vue.js"></script>
<!-- import JavaScript -->
<script src="../cdn/element-ui/element.js"></script>
<script src="../cdn/axios.min.js"></script>
<script src="../cdn/qrcode.min.js"></script>
<script src="../renderer/global.js"></script>

<script>
    const { remote } = require('electron');

    const createTypes = {
        board: 'board',
        image: 'image',
        template: 'template',
        upload: 'upload',
    }

    const server = 'http://goldenproud.cn:5678';
    // const server = 'http://127.0.0.1:8080';

    function formatCorrect(format) {
        return (format == "image/png" || format == "image/jpeg")
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                createType: createTypes.board,
                color: '#ffffff',
                isTransparent: false,
                canvas: {
                    width: '400',
                    height: '400',
                    unit: 'px',
                    undercolor: '#ffffff',
                },
                rules: {
                    width: [
                        { required: true, message: '你不输入宽度我很难办呀☝', trigger: 'change' }
                    ],
                    height: [
                        { required: true, message: '你不输入高度搞我心态❓', trigger: 'change' }
                    ]
                },
                units: ['px'],
                predefineColors: [
                    '#ffffff',
                    '#ff4500',
                    '#ff8c00',
                    '#ffd700',
                    '#90ee90',
                    '#00ced1',
                    '#1e90ff',
                    '#c71585',
                    '#000000',
                ],
                image: {
                    path: null,
                    width: '400',
                    height: '400',
                    undercolor: psData.transparent,
                },
                imageUrl: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3109674115,2519629056&fm=26&gp=0.jpg',
                qrcodeWidth: 128,
                noqr: true,
                qrcode: null,
                lastTimeout: null
            }
        },
        watch: {
            isTransparent: function (val) {
                this.canvas.undercolor = val ? psData.transparent : this.color;
            },
            color: function (val) {
                this.canvas.undercolor = this.isTransparent ? psData.transparent : this.color;
            }
        },
        methods: {
            //关闭
            close() {
                remote.getCurrentWindow().close();
            },
            getQRCode() {
                this.noqr = false;
                let self = this;
                axios.get(server + '/uploadhash')
                    .then(function (response) {
                        let meta = response.data;
                        self.qrcode.clear();
                        self.qrcode.makeCode(server + meta.upload);
                        self.tryget(server + meta.get);
                    });
            },
            tryget(uri, time = 600) {

                if (this.lastTimeout) {
                    clearTimeout(this.lastTimeout);
                }

                this.getLoop(uri, 300, 8);
            },
            getLoop(uri, times, seconds) {

                if (times < 1) {
                    this.warn('二维码已过期');
                    return;   // 不再尝试
                }

                if (seconds > 1) {
                    seconds = parseInt(seconds / 2);
                }

                axios.get(uri)
                    .then((response) => {
                        if (response.data === 'no') {
                            this.lastTimeout = setTimeout(() => {
                                this.getLoop(uri, times - 1, seconds);
                            }, 1000 * seconds + 500);
                        }
                        else {
                            let self = this;
                            this.$refs.imageDom.onload = function () {
                                self.image.width = this.naturalWidth;
                                self.image.height = this.naturalHeight;
                                self.image.type = createTypes.image;
                                self.sendMain(self.image)
                            }
                            self.image.path = uri;
                        }
                    });
            },
            openBrowser() {
                remote.dialog.showOpenDialog({
                    properties: ['openFile'],
                    filters: [{
                        name: 'Images',
                        extensions: ['jpg', 'png']
                    }]
                }).then((data) => {
                    if (data.filePaths.length) {
                        console.log(this);
                        this.loadImage(data.filePaths[0])
                    }
                });
            },
            openWeb() {
                axios.get(this.imageUrl)
                    .then((response) => {
                        let ctype = response.headers['content-type'];
                        if (formatCorrect(ctype)) {
                            this.loadImage(this.imageUrl);
                        }
                        else {
                            this.warn('仅支持 jpeg/png 的图片链接')
                        }
                    });
            },
            loadImage(image) {
                let self = this;
                this.$refs.imageDom.onload = function () {
                    self.image.width = this.naturalWidth;
                    self.image.height = this.naturalHeight;
                }
                this.image.path = image;
            },
            enableDragIn() {
                var dropZone = document.getElementById('dropZone');
                var originBorder = dropZone.style.border;
                var highlightBorder = "#1989fa 2px dashed";
                var self = this

                dropZone.addEventListener('dragover', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
                    var originBorder = dropZone.style.border;
                    dropZone.style.border = highlightBorder;
                }, false);

                dropZone.addEventListener("dragleave", function (evt) {
                    evt.preventDefault();
                    evt.stopPropagation();
                    dropZone.style.border = originBorder;
                }, false);

                dropZone.addEventListener('drop', function (evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                    dropZone.style.border = originBorder;
                    var files = evt.dataTransfer.files;

                    if (files.length) {
                        if (formatCorrect(files[0].type))
                            self.loadImage(files[0].path);
                        else
                            self.warn('只支持 jpeg/png 格式')
                    }
                }, false);
            },
            numberFilter(e) {
                this.canvas.width = this.canvas.width.replace(/[^\d.]/g, '');
                this.canvas.height = this.canvas.height.replace(/[^\d.]/g, '')
            },
            createBoard() {
                let valid = false;
                this.$refs['canvasConfig'].validate((v) => {
                    valid = v;
                });

                if (valid) {
                    return this.canvas;
                } else {
                    return false;
                }
            },
            createImage() {
                if (this.image.path) {
                    return this.image;
                }
                return false
            },
            createNew() {
                let result = undefined;

                switch (this.createType) {
                    case createTypes.board:
                        result = this.createBoard();
                        break;
                    case createTypes.image:
                        result = this.createImage();
                        break;
                    case createTypes.upload:
                        if (this.noqr) this.getQRCode();
                        this.$message('请扫描二维码在移动端上传');
                        return;
                    case createTypes.template:
                        // code block
                        break;
                }

                if (result) {
                    result.type = this.createType;
                    this.sendMain(result);
                }
                else
                    this.warn('你想创建啥？');
            },
            sendMain(data) {
                ipcRenderer.send('create-canvas', data);
                this.close();
            },
            warn(text) {
                this.$message({
                    message: text,
                    type: 'warning',
                    center: true
                });
            }
        },
        mounted() {
            this.enableDragIn();
            this.qrcode = new QRCode("qrcode", {
                width: this.qrcodeWidth,
                height: this.qrcodeWidth,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
        }
    })
</script>

</html>